<h1><%= I18n.t('title')%></h1>
<h1>Bienvenido</h1>
<h2><%= link_to "Admin Login", new_admin_user_session_path %></h2>

<p id="notice"><%= notice %></p>

<% if @projects.any? %>
  <h1>Projects</h1>

  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.project.title') %></th>
        <th><%= t('activerecord.attributes.project.date') %></th>
        <th><%= t('activerecord.attributes.project.subject') %></th>
        <th><%= t('activerecord.attributes.project.authors') %></th>
        <th><%= t('activerecord.attributes.project.revision_state') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.date %></td>
          <td><%= project.subject.name %></td>
          <td><%= project.authors %></td>
          <td><%= enum_l(project, :revision_state) %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Project', new_project_path %>
<% else %>
  <h1>No existen proyectos</h1>

  <%= link_to 'New Project', new_project_path %>
<% end -%>
