<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @project.abstract %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @project.authors %>
</p>

<p>
  <strong>Revision state:</strong>
  <%= @project.revision_state %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', root_path %>
