<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.project.title') %>:</strong>
  <%= @project.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.project.abstract') %>:</strong>
  <%= @project.abstract %>
</p>

<p>
  <strong><%= t('activerecord.attributes.project.date') %>:</strong>
  <%= @project.date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.project.subject') %>:</strong>
  <%= @project.subject.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.project.authors') %>:</strong>
  <%= @project.authors %>
</p>

<p>
  <strong><%= t('activerecord.attributes.project.revision_state') %>:</strong>
  <%= enum_l(@project, :revision_state) %>
</p>

<p>
  <% if @project.attachment? %>
    <strong><%= t('activerecord.attributes.project.attachment') %>:</strong>
    <%= link_to @project.title, @project.attachment.url, target: '_blank' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', root_path %>
